<div class="about-resume" [ngClass]="{'show-first':isShow}">
    <h1 class="title">ABOUT ME !</h1>
    <hr class="style-seven">
    <div class="row about-content">
        <div class="col-6 infomation">
            <div class="info-title title">
                <h2>Personal Infomation</h2>
            </div>
            <div class="info-content">
                <div class="mb-2">
                    <p>Name: </p>
                    <p>Phạm Quang Lương</p>
                </div>
                <div class="mb-2">
                    <p>Age: </p>
                    <p>26</p>
                </div>
                <div class="mb-2">
                    <p>Adress: </p>
                    <p style="display: inline; margin-bottom: 8px;">Lien Phuong str. , Phuoc Long B ward, 9 district, Ho
                        Chi Minh city</p>
                </div>
                <div class="mb-2">
                    <p>Phone: </p>
                    <p>(+84) 334.068.547</p>
                </div>
                <div class="mb-2">
                    <p>Email: </p>
                    <p>davidpham1003@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-6 summary">
            <div class="summary-content">
                <h2 class="title summary-title">
                    Summary
                </h2>
                <p class="mb-1">
                    - My name is Luong, I am interested in IT and everything in its orbit. Especially Web Development!
                </p>
                <p class="mb-1">
                    - I am looking for a chance to increase skills in Computer Science. I would offer my full commitment,
                    and be a pleasant and friendly addition to your team.
                </p>
                <p class="mb-1"> - I am therefore currently looking for a job as a front-end developer.</p>
            </div>
        </div>
    </div>
</div>